/* https://colors.muz.li/palette/69b3a2/497d78/b369a3/7d4972/b3a369 */
body {
  font-family: "Droid Serif", serif;
  font-size: 1.2rem;
  color: #2f2f2f;
  background-color: #f9f7f1;
}
header {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 80px;
  text-transform: uppercase;
  display: inline-block;
  line-height: 72px;
  margin-bottom: 20px;
}
p {
  margin-top: 0;
  margin-bottom: 20px;
}

.head {
  text-align: center;
  position: relative;
}

.subhead {
  text-transform: uppercase;
  border-bottom: 2px solid #2f2f2f;
  border-top: 2px solid #2f2f2f;
  padding: 12px 0 12px 0;
}
.content {
  max-width: 1200px;
  margin: 2rem auto;
}
h1 {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  padding: 10px 0 10px 0;
}

.subtitle {
  font-weight: 400;
  font-style: italic;
  font-size: 24px;
  box-sizing: border-box;
  padding: 10px 0 10px 0;
}

figure.floater {
  width: 50%;
  float: right;
  margin: 1rem 0 1rem 1rem;
  overflow: hidden;
}
figure.floater img {
  max-height: 450px;
}

figcaption {
  text-align: center;
}

aside {
  width: calc(500px + 1rem);
  padding-left: 1rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  background-color: #f3eed5;
  color: #2f2f2f;
}

aside h2 {
  text-align: center;
}

aside > p {
  margin: 0.5rem;
  font-size: 1rem;
}

aside figure {
  margin: 1rem;
  width: 50%;
}

.chart-title, caption {
  color: #29627e;
  text-align: center;
  margin: 0.5rem;
}
.chart-subtitle {
  color: #696969;
  text-align: center;
  font-size: 1rem;
  margin: 0rem;
}

/* svg tooltip */
div.tooltip {
  position: absolute;
  text-align: center;
  /* width: 60px; */
  /* height: 28px; */
  padding: 4px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}

.top_10_2020 {
  fill: #7D4972 !important;
  opacity: 1 !important;
  z-index: 1;
}

.n8-inspector {
  display: flex;
}

.n8-inspector > * {
  margin: 1rem; 
}

table {
  font-size: 1rem;
}
td { 
  padding: 4px;
}
td.right {
  text-align: right
}


/* map */
#map path {
  stroke:white;
  stroke-width: 1px;
}

body {
  font-family: 'Proxima Nova', sans-serif;
}

.county {
  font: 14px sans-serif;
  font-weight: bold;
}

.legend {
  font-size: 14px;
  font-family: 'Proxima Nova', sans-serif;
}

.legend_title {
  font-size: 14px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: bold;
}
